body {
    margin: 0;
    padding: 0;
}
header { 
    border: solid 1px black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(23, 39, 112);
    justify-content: center;
    padding: 10px;
    align-items: center;
    margin-bottom: 20px;
    color: white;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    min-height: 100vh;
}

.img-lateral {
    width: 300px;
    height: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.img-lateral img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sorteio {
    flex: 1;
    margin: 0 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
button {
    background-color: rgb(59, 131, 0);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}
button:hover {
    background-color: rgb(34, 75, 0);
    transform: scale(1.05);
    transition: all 0.3s ease;
}
label {
    margin-top: 5px;
    font-weight: bold;
}
input {
    width: 300px;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
input:focus {
    border-color: #66afe9;
    outline: none;
    box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
    transition: all 0.3s ease;
}
a {
    text-decoration: none;
    color: rgb(23, 39, 112);
    font-weight: bold;
    border: solid 1px black;
    padding: 5px;
    border-radius: 5px;
    
}