ul{   
    list-style-type: none; /* remove os marcadores padrão */
      margin: 0;
      padding: 0;
      background-color: #ff4848;
        overflow: hidden;
        font-family: 'Courier New', Courier, monospace;


 }
 li
    {
        float: left; /* alinha os itens horizontalmente */
        
    }
a
 {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
 }
a:hover {
    background-color: #ff6a6a; /* cor de fundo ao passar o mouse */


}
/* Fim do menu horizontal */